{% load i18n %}
{% load bootstrap3 %}
{% if status == "pending" %}
    <span data-toggle="tooltip" title="{{ ticket_request.created_at|date:"SHORT_DATETIME_FORMAT" }}"
            class="label label-warning {{ class }}">{% trans "Pending" %}</span>
{% elif status == "approved" %}
    <span class="label label-success {{ class }}">{% trans "Approved" %}</span>
{% elif status == "rejected" %}
    <span class="label label-danger {{ class }}">{% trans "Rejected" %}</span>
{% elif status == "withdrawn" %}
    <span class="label label-danger {{ class }}">{% trans "Withdrawn" %}</span>
{% endif %}
